.App {
  height: 100vh;
  color: #f9f9f9;
  font-family: 'Rubik', sans-serif;
  position: relative;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -9;
}

.app-card {
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.box {
  padding: 2px 0;
  background-color: rgba(170, 170, 170, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.header {
  position: relative;
  margin-bottom: 10px;
}

.logo {
  width: 7%;
  position: absolute;
  top: 15px;
  left: 12px;
  opacity: 0.8;
}

.weather-card {
  padding: 10px 0;
}

.weather-icon {
  margin: 0 auto;
  padding-top: 5px;
  width: 38%;
  animation: float 4s linear infinite;
}

.weather-icon .icon {
  width: 100%;
}

.weather-temperature {
  margin-top: 5px;
  font-size: 2.7em;
}

.weather-description {
  text-transform: capitalize;
  margin-top: -10px;
}

.more-weather-info .info-item {
  width: 100px;
  margin-top: 5px;
  display: inline-block;
}

.foot {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}


@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(5px);
  }
  100% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}

@media (max-width: 415px) {
  
  .app-card {
    width: 80%;
  }

  .more-weather-info .info-item {
    width: 80px;
    font-size: 14px;
  }

}